<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="inputs">
    <mat-form-field appearance="outline">
      <mat-label>Email :</mat-label>
      <input
        type="email"
        name="email"
        id="inputEmail"
        autofocus matInput
        placeholder="email"
        formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint>L'email doit être valide</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mot de passe :</mat-label>
      <input
        type="password"
        name="password"
        id="inputPassword"
        matInput
        placeholder="mot de passe"
        formControlName="motdepasse"
      >
      <mat-icon matSuffix>password</mat-icon>
      <mat-hint>Complexe sinon rien.</mat-hint>
    </mat-form-field>
  </div>
  <div class="submit">
    <button type="submit" mat-raised-button color="primary">Se connecter</button>
  </div>
</form>
